<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="renderer" content="webkit"> 
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"> 
<meta name="format-detection" content="telephone=no" /> 
<link rel="shortcut icon" href="images/logo.ico" />
<title>中科家政</title>
<meta name="keywords" content=" " />
<meta name="description" content=" " />


<link rel="stylesheet" type="text/css" href="css/common.css">
<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="css/font-awesome.css">
<link rel="stylesheet" type="text/css" href="css/swiper-3.4.1.min.css">
<link rel="stylesheet" type="text/css" href="css/style.css">

<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/jquery-ui.min.js"></script>
<script src="js/easing.js"></script>
<script src="js/swiper-3.4.1.min.js"></script>
<script src="js/index.js"></script>
<script src="js/main.js"></script>


<script src="./js/vue.js"></script>
<script src="./js/axios.min.js"></script>
<script src="./js/axios-config.js"></script>
<script src="./js/js.cookie.js"></script>
<script src="./js/utils.js"></script>

</head>

<body>
	<div id="app">
<div class="share_show">
  <div class="share_show_bg"></div> 
  <div class="share_show_con">
    <h5>选择要分享到的平台</h5>
    <ul class="clearfix">
      <li>
      	
        <span><img src="images/share_icon1.png"></span>
       	 微信
       
      </li>
      <li>
        <span><img src="images/share_icon2.png"></span>
        微信朋友圈
      </li>
      <a href="http://connect.qq.com/widget/shareqq/index.html">
	      <li>
	        <span><img src="images/share_icon3.png"></span>
	        QQ
	      </li>
       </a>
      <li>
        <span><img src="images/share_icon4.png"></span>
        QQ空间
      </li>
    </ul>
    
    <a href="##">取消分享</a>
    
  </div>
</div>
<div class="stroy_nav">
  <div class="stroy_banr">
    <img v-if="activities_banner" :src="activities_banner" width="100%">  
  	<img v-else src="images/bigStage_ban.gif" width="100%">
  	<h5 v-if="activities_title">{{activities_title.title}}</h5>
  	<h5 v-else>南山南南山南南日放大个电饭锅的山 南南山南南山南南</h5>
  </div>
  
  <div class="bigStorage-head">
    <img v-if="activities_title" :src="activities_title.logo_pic" alt="">
    <img v-else src="images/bigStage-2.png" alt="">
    <div class="bigStorage_head clearfix">
      <div class="bigStorage_head_r">
        <a href="bigStage_vote.html"  @click="jump(activities_title.stage_deploy_id,1)">活动规则</a>
        <a href="bigStage_vote.html" @click="jump(activities_title.stage_deploy_id,2)">投票</a>
        <a href="##" class="btn-share">分享</a>
      </div> 
    </div>
  </div>
</div>


<!--  / warpper  -->
<div class="bigStage">
  <div class="bigStage1">
    <span>更多历史活动</span>
    <img src="images/bigStage-right.png" alt="">  
  </div>
  <div class="bigStage2">
     <div class="bigStage2-detail"  v-for="activities in activities_lists" @click="video_bofang(activities.video)">
        <img :src="activities.pic" alt="" class="bigStage2-detail-img">
        <div class="bigStage2-detail-txt">{{activities.title}}</div>
        <img src="images/zanting.png" alt="" class="bigStage2-detail-img1">
     </div>
  </div>
</div>
<!--  / warpper  -->


<!--  / footer  -->
<div class="footer">
  <ul class="clearfix">
    <a href="index.html">
    <li>
    	  <div class="footer_img footer_img1">
      		  <img src="images/ic_home_home_gray.png">
      		  <img src="images/ic_home_home_yellow.png">
        </div>
        <span>主页</span>
    </li>
    </a>
    <a href="stroy1.html">
    <li>
    	  <div class="footer_img footer_img1">
      		  <img src="images/ic_home_yishu_gray.png">
      		  <img src="images/ic_home_yishu_yellow.png">
        </div>
        <span>老故事</span>
    </li>
	</a>
	<a href="bigStage.html">
    <li class="ind_share_btn on">
    	  <div class="footer_img footer_img2">
    	  	  <img src="images/ic_dibutiao_shandu_gray.png">
    	  	  <img src="images/ic_dibutiao_shandu_yellow.png">
    	  </div>
	</li>
	</a>
	<a href="orderList.html">
    <li id="goOrder">
    	  <div class="footer_img footer_img1">
      		  <img src="images/ic_home_dingdan_gray.png">
      		  <img src="images/ic_home_dingdan_yellow.png">
        </div>
        <span>订单</span>
	</li>
    </a>
    <a href="user.html">
    <li>
    	<div class="footer_img footer_img1">
    	      <img src="images/ic_home_geren_gray.png">	
    	      <img src="images/ic_home_geren_yellow.png">	
    	</div>	
        <span>我的</span>
    </li>
    </a>
  </ul>
</div>
<!--  / footer  -->
</div>
</body>
<script>
$(document).ready(function(){
	
	var vm = new Vue({
		el:"#app",
		data() {
            return {
                city_name:{
                	city:getCookie("cityLocation")
                },
                activities_banner:'',
                activities_title:'',
                activities_lists:''
            }
		},
    created: function () {
			var $this = this;
    	$this.getActivities();
    	$this.getActivities_list();
    	
    },
    mounted:function(){
    	
    },
    methods:{
    	
    	//活动标题
    	getActivities:function(){
    		var $this = this;
    		
    		const data = {
    			type:1
    		}
    		Axios.post(window.Url.three_activities,$this.city_name).then((res) => {
    			
    			if(res.result == 1){
    				$this.activities_banner = res.banner;
    				$this.activities_title = res.deploy;
    				
    			}
    			else{
    				console.log('活动标题:'+res.info);
    			}
    			
	        }).catch((err) => {
	          console.log('活动标题:'+err);
	        })
    	},
      	//大舞台 下的三个活动
    	getActivities_list:function(){
    		var $this = this;
    		Axios.post(window.Url.three_activities_lists,$this.city_name).then((res) => {
    			
    			if(res.result == 1){
    				$this.activities_lists = res.info;
    			}
    			else{
    				alert('大舞台 下的三个活动:'+res.info);
    			}
    			
	        }).catch((err) => {
	          console.log('大舞台 下的三个活动:'+err);
	        })
    	},
    	//跳转至活动详情
    	jump:function(event,vote){
    		setCookie('stage_deploy_id',event);
    		setCookie('vote',vote);
    	},
      	//视频播放
    	video_bofang:function(url){
    		setCookie('video_url',url);
    		window.location.href = 'video_bofang.html';
    	}
    }
	})

	
	
  
  $('.bigStage2-detail').height($('.bigStage2-detail').width()*340/223);
  
  $('.bigStorage-head').height($('.bigStorage-head').width()*270/750);
  
  var mySwiper_strclass = new Swiper ('.swiper-stroy1_class', {
     slidesPerView: 4,
  })
  $(".stroy1_class_bt").click(function(){
    $(".stroy1_class_bt").removeClass("on");
    $(this).addClass("on");
  })

  $(window).load(function(){
    $(".stroy1_hot_text").height($(".stroy1_hot_img").width()*268/359);
  })
  $(window).resize(function(){
    $(".stroy1_hot_text").height($(".stroy1_hot_img").width()*268/359);
  })
  $('.ind_share_btn').click(function(){
	  window.location.href = "bigStage.html";
  });
  $('#goOrder').click(function(){
	  window.location.href = "orderList.html";
  });
  $(".bigStage1").click(function(){
	  window.location.href = "bigStage_history.html";
  });

  $('.btn-share').click(function(){
    $('.share_show').stop(true).fadeIn(600);
  })

  $('.share_show_bg').click(function(){
    $('.share_show').stop(true).fadeOut(600);
  })

  $('.share_show_con a').click(function(){
    $('.share_show').stop(true).fadeOut(600);
  })
  $('.bigStage2-detail-txt').click(function(){
     window.location.href = "bigStage_vote1.html";
  })
}) 
</script>
</html>
