<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="renderer" content="webkit"> 
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"> 
<meta name="format-detection" content="telephone=no" /> 
<link rel="shortcut icon" href="images/logo.ico" />
<title>中科家政</title>
<meta name="keywords" content=" " />
<meta name="description" content=" " />


<link rel="stylesheet" type="text/css" href="css/common.css">
<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="css/font-awesome.css">
<link rel="stylesheet" type="text/css" href="css/swiper-3.4.1.min.css">
<link rel="stylesheet" type="text/css" href="css/style.css">

<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/jquery-ui.min.js"></script>
<script src="js/easing.js"></script>
<script src="js/swiper-3.4.1.min.js"></script>
<script src="js/index.js"></script>
<script src="js/main.js"></script>


<script src="./js/vue.js"></script>
<script src="./js/axios.min.js"></script>
<script src="./js/axios-config.js"></script>
<script src="./js/js.cookie.js"></script>
<script src="./js/utils.js"></script>

</head>

<body>
<div id="app" v-cloak>
<!--  / header  -->
<div class="header_longevity">
    <div class="header_map_longevity">   
        <img src="images/jiantou.png" alt="">
        <span>返回</span>
    </div>
    <div class="logo_longevity">资讯评论</div>
    <div class="header_shop_longevity">
        <span>评论</span>
        <img src="images/pinlun1.png" alt="" width="15">        
    </div>   
</div>
<!--  / header  -->


<div class="InformationDetails8">
    <div class="InformationDetails5">{{evaluate_title}}</div>
    <div class="InformationDetails6">以下是评论区</div>
    <div class="InformationDetails7" v-for="evaluate in evaluate_list">
      <div class="InformationDetails7_f1 clearfix">
        <div class="InformationDetails7_f1_left">
            <a href="##"><img :src="evaluate.person_img" alt="" width="100%"></a>
            <span>{{evaluate.person_name}}</span>
        </div>
        <div class="InformationDetails7_f1_right">{{evaluate.add_time}}</div> 
      </div>
      <div class="InformationDetails7_f2" @click="jump(evaluate.evaluate_id)">
          {{evaluate.comment}}
      </div>
      <div class="InformationDetails7_f3">
          <div class="row">
              <div class="col-xs-4 InformationDetails7-col">
                  <a href="##" class="InformationDetails7_f3_f1" @click="pageview(evaluate.evaluate_id)">阅<span>{{evaluate.pageview}}</span></a>
              </div>
              <div class="col-xs-4 InformationDetails7-col">
                  <a href="##" class="InformationDetails7_f3_f2" @click="zan(evaluate.evaluate_id)">
                      <img v-if="evaluate.is_zan" src="images/pinglun-zan1.png" alt="" width="20" class="InformationDetails7_f3_f2_img2">
                      <img v-else src="images/pinglun-zan.png" alt="" width="20" class="InformationDetails7_f3_f2_img1">
                      <span>{{evaluate.zan}}</span>
                  </a>
              </div>
              <div class="col-xs-4 InformationDetails7-col" @click="jump(evaluate.evaluate_id)">
                  <a href="pinLun_detail.html" class="InformationDetails7_f3_f3">
                      <img src="images/pinglun-pl.png" alt="" width="16">
                      <span>{{evaluate.reply}}</span>
                  </a>
              </div>
          </div>
      </div>       
    </div>
<!--    <div class="InformationDetails7">
      <div class="InformationDetails7_f1 clearfix">
        <div class="InformationDetails7_f1_left">
            <a href="##"><img src="images/user-1.jpg" alt="" width="100%"></a>
            <span>老王</span>
        </div>
        <div class="InformationDetails7_f1_right">2018-03-06 11:45:50</div> 
      </div>
      <div class="InformationDetails7_f2">
          运送丰东股份的是竟然跑上官飞干扰她申达股份四大四方达颠三倒四第三方第四方
      </div>
      <div class="InformationDetails7_f3">
          <div class="row">
              <div class="col-xs-4 InformationDetails7-col">
                  <a href="##" class="InformationDetails7_f3_f1">阅<span>0</span></a>
              </div>
              <div class="col-xs-4 InformationDetails7-col">
                  <a href="##" class="InformationDetails7_f3_f2">
                      <img src="images/pinglun-zan.png" alt="" width="20" class="InformationDetails7_f3_f2_img1">
                      <img src="images/pinglun-zan1.png" alt="" width="20" class="InformationDetails7_f3_f2_img2 img-hidden">
                      <span>0</span>
                  </a>
              </div>
              <div class="col-xs-4 InformationDetails7-col">
                  <a href="pinLun_detail.html" class="InformationDetails7_f3_f3">
                      <img src="images/pinglun-pl.png" alt="" width="16">
                      <span>0</span>
                  </a>
              </div>
          </div>
      </div>       
    </div>
    <div class="InformationDetails7">
      <div class="InformationDetails7_f1 clearfix">
        <div class="InformationDetails7_f1_left">
            <a href="##"><img src="images/user-1.jpg" alt="" width="100%"></a>
            <span>老王</span>
        </div>
        <div class="InformationDetails7_f1_right">2018-03-06 11:45:50</div> 
      </div>
      <div class="InformationDetails7_f2">
          运送丰东股份的是竟然跑上官飞干扰她申达股份四大四方达颠三倒四第三方第四方
      </div>
      <div class="InformationDetails7_f3">
          <div class="row">
              <div class="col-xs-4 InformationDetails7-col">
                  <a href="##" class="InformationDetails7_f3_f1">阅<span>0</span></a>
              </div>
              <div class="col-xs-4 InformationDetails7-col">
                  <a href="##" class="InformationDetails7_f3_f2">
                      <img src="images/pinglun-zan.png" alt="" width="20" class="InformationDetails7_f3_f2_img1">
                      <img src="images/pinglun-zan1.png" alt="" width="20" class="InformationDetails7_f3_f2_img2 img-hidden">
                      <span>0</span>
                  </a>
              </div>
              <div class="col-xs-4 InformationDetails7-col">
                  <a href="pinLun_detail.html" class="InformationDetails7_f3_f3">
                      <img src="images/pinglun-pl.png" alt="" width="16">
                      <span>0</span>
                  </a>
              </div>
          </div>
      </div>       
    </div>
-->
</div>


<!--  / footer  -->
<!-- <div class="footer1 footer1_news">
  <ul class="clearfix">
    <li class="ind_share_btn">
    	  <div class="footer_img_n">
    	  	  <img src="images/news_pl1.png">大家在评论<span>(1)</span>
    	  </div>
    </li>
    <li class="ind_share_btn1">
    	  <div class="footer_img_n">
      		  <img src="images/news_pl2.png">评论
          </div>
    </li>
  </ul>
</div> --> 
<div class="pinglun-show">
    <input type="text" v-model="comment" placeholder="请输入要评论内容...(限80字)">
    <a href="##" @click="publish">发表</a>
</div>
<div class="pinglun1_show">
    <div class="pinglun1_show_bg"></div>
    <div class="pinglun1_show_con">
        <h5>{{remind}}</h5>
        <div class="pinglun1_show_con_f1">
            <a href="##" @click="yes">好的，知道了</a>
        </div>
    </div>
</div>
<!--  / footer -->
</div>
</body>
<script>
$(window).ready(function(){
	
	var vm = new Vue({
		el:"#app",
		data() {
            return {
                evaluate_list: [],
                evaluate_title: '',
                comment:'',
                remind:''
            }
		},
    created: function () {
		var $this = this;
    	$this.getEvaluate_list();
    	
    },
    mounted:function(){
    	
    },
    methods:{
    	
    	//评论列表
    	getEvaluate_list:function(){
    		var $this = this;
    		const data = {
    			cheats_id : getCookie("cheats_details_id")
    		}
    		
    		Axios.post(window.Url.Cheats_evaluate_list,data).then((res) => {
    			
    			if(res.result == 1){
    				$this.evaluate_list = res.info.evaluate_list;
    				$this.evaluate_title = res.title;
    			}
    			else{
    				console.log('评论列表:'+res.info);
    			}
    			
	        }).catch((err) => {
	          console.log('评论列表:'+err);
	        })
    	},
    	//发布评论
    	publish:function(){
    		var $this = this;
    		const data = {
    			cheats_id : getCookie("cheats_details_id"),
    			comment: $this.comment
    		}
    		
    		Axios.post(window.Url.Cheats_evaluate_publish,data).then((res) => {
    			
    			$this.remind = res.info
    			console.log($this.remind);
    			if(res.result == 1){
//  				$this.CheatsCateDetails = res.info.cheats;
					
    			}
    			else{
    				console.log('发布评论:'+res.info);
    			}
    			
	        }).catch((err) => {
	          console.log('发布评论:'+err);
	        })
    	},
    	//点击确认之后刷新页面
    	yes:function(){
    		location.reload();
    	},
    	//评论详情页
    	jump:function(cheats_id){
    		setCookie('evaluate_id',cheats_id)
    		window.location.href = "pinLun_detail.html";
    	},
    	//赞
    	zan:function(evaluate_id){
    		var $this = this;
    		const data = {
    			evaluate_id : evaluate_id,
    		}
    		$('.pinglun1_show').show();
    		
    		Axios.post(window.Url.Cheats_evaluate_zan,data).then((res) => {
    			$this.remind = res.info
    			if(res.result == 1){
//  				$this.CheatsCateDetails = res.info.cheats;
					
    			}
    			else{
    				console.log('点赞:'+res.info);
    			}
    			
	        }).catch((err) => {
	          console.log('点赞:'+err);
	        })
    	},
    	//阅读标记
    	pageview:function(evaluate_id){
    		var $this = this;
    		const data = {
    			evaluate_id : evaluate_id,
    		}
    		$('.pinglun1_show').show();
    		
    		Axios.post(window.Url.Cheats_evaluate_pageview,data).then((res) => {
    			$this.remind = res.info
    			if(res.result == 1){
//  				$this.CheatsCateDetails = res.info.cheats;
					
    			}
    			else{
    				console.log('阅读:'+res.info);
    			}
    			
	        }).catch((err) => {
	          console.log('阅读:'+err);
	        })
    	},
    	
    }
})
	
	
	
  var flag=true;

$('.header_map_longevity').click(function(){
    history.go(-1);
});
$('.ind_share_btn').click(function(){
    window.location.href = "Pinglun.html";
});
// $('.ind_share_btn1').click(function(){
//     $('.pinglun_show').css('display','block');
// });
$('.pinglun1_show_con_f1 a').click(function(){
    $('.pinglun1_show').css('display','none');
})
$('.pinglun-show a').click(function(){
//  $('.pinglun-show').css('display','none');
    $('.pinglun1_show').css('display','block');
});
$('.header_shop_longevity').click(function(){
    $('.pinglun-show').css('display','block');
})


  
})  
</script>
</html>
