<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="renderer" content="webkit"> 
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"> 
<meta name="format-detection" content="telephone=no" /> 
<link rel="shortcut icon" href="images/logo.ico" />
<title>中科家政</title>
<meta name="keywords" content=" " />
<meta name="description" content=" " />


<link rel="stylesheet" type="text/css" href="css/common.css">
<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="css/font-awesome.css">
<link rel="stylesheet" type="text/css" href="css/swiper-3.4.1.min.css">
<link rel="stylesheet" type="text/css" href="css/style.css">

<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/jquery-ui.min.js"></script>
<script src="js/easing.js"></script>
<script src="js/swiper-3.4.1.min.js"></script>
<script src="js/index.js"></script>
<script src="js/main.js"></script>

<script src="./js/vue.js"></script>
<script src="./js/axios.min.js"></script>
<script src="./js/axios-config.js"></script>
<script src="./js/js.cookie.js"></script>
<script src="./js/utils.js"></script>

</head>

<body>
<div id="app" v-cloak>
<!--  / header  -->
<div class="header_longevity">
    <div class="header_map_longevity">   
        <img src="images/jiantou.png" alt="">
        <span>返回</span>
    </div>
    <div class="logo_longevity">资讯评论</div>
    <div class="header_shop_longevity">
        <span>评论</span>
        <img src="images/pinlun1.png" alt="" width="15">
        
    </div>   
</div>
<!--  / header  -->


<div class="InformationDetails8">
    <div class="InformationDetails7">
      <div class="InformationDetails7_f1 clearfix">
        <div class="InformationDetails7_f1_left InformationDetails7_f1_left1">
            <a href="##"><img :src="evaluate_details.person_img" alt="" width="100%"></a>
            <span>{{evaluate_details.person_name}}</span>
        </div>
        <div class="InformationDetails7_f1_right InformationDetails7_f1_right1">{{evaluate_details.add_time}}</div> 
      </div>
      <div class="InformationDetails7_f2">
          {{evaluate_details.comment}}
      </div>
      
      
      <!-- <div class="InformationDetails7_f3">
          <div class="row">
              <div class="col-xs-4 InformationDetails7-col">
                  <a href="##" class="InformationDetails7_f3_f1">阅<span>0</span></a>
              </div>
              <div class="col-xs-4 InformationDetails7-col">
                  <a href="##" class="InformationDetails7_f3_f2">
                      <img src="images/pinglun-zan.png" alt="" width="20">
                      <span>0</span>
                  </a>
              </div>
              <div class="col-xs-4 InformationDetails7-col">
                  <a href="##" class="InformationDetails7_f3_f3">
                      <img src="images/pinglun-pl.png" alt="" width="16">
                      <span>0</span>
                  </a>
              </div>
          </div>
      </div>  -->      
    </div>
   <div class="InformationDetails6">以下是评论回复区</div>
	<ul>
  	<li v-for="sib_details in evaluate_sib_details" class="InformationDetails7_sub">
  		<div class="InformationDetails7_f1  clearfix">
	        <div class="InformationDetails7_f1_left InformationDetails7_f1_left1">
	            <a href="##"><img :src="sib_details.person_img" alt="" width="100%"></a>
	            <span>{{sib_details.person_name}}</span>
	        </div>
	        <div class="InformationDetails7_f1_right InformationDetails7_f1_right1">{{sib_details.add_time}}</div> 
	      </div>
	      <div class="InformationDetails7_f2">
	          {{sib_details.comment}}
	      </div>
  	</li>
</ul>
</div>



<!--  / footer  -->
<!-- <div class="footer1 footer1_news">
  <ul class="clearfix">
    <li class="ind_share_btn">
    	  <div class="footer_img_n">
    	  	  <img src="images/news_pl1.png">大家在评论<span>(1)</span>
    	  </div>
    </li>
    <li class="ind_share_btn1">
    	  <div class="footer_img_n">
      		  <img src="images/news_pl2.png">评论
          </div>
    </li>
  </ul>
</div> --> 
<div class="pinglun-show">
    <input type="text" v-model="comment" placeholder="请输入要评论内容...(限80字)">
    <a href="##" @click="reply">发表</a>
</div>
<div class="pinglun1_show">
    <div class="pinglun1_show_bg"></div>
    <div class="pinglun1_show_con">
        <h5>{{remind}}</h5>
        <div class="pinglun1_show_con_f1">
            <a href="##" @click="yes">好的，知道了</a>
        </div>
    </div>
</div>
<!--  / footer -->
</div>
</body>
<script>
$(window).ready(function(){


var vm = new Vue({
		el:"#app",
		data() {
            return {
                evaluate_details: [],
                comment:'',
                remind:'',
                evaluate_sib_details:''
            }
		},
    created: function () {
		var $this = this;
    	$this.getEvaluate_details();
    	
    },
    mounted:function(){
    	
    },
    methods:{
    	
    	//评论详情
    	getEvaluate_details:function(){
    		var $this = this;
    		const data = {
    			evaluate_id : getCookie("evaluate_id")
    		}
    		
    		Axios.post(window.Url.Cheats_evaluate_details,data).then((res) => {
    			
    			if(res.result == 1){
    				$this.evaluate_details = res.info.evaluate_details;
    				$this.evaluate_sib_details = res.info.evaluate_details.details;
    			}
    			else{
    				console.log('评论详情:'+res.info);
    			}
    			
	        }).catch((err) => {
	          console.log('评论详情:'+err);
	        })
    	},
    	//回复评论
    	reply:function(){
    		var $this = this;
    		const data = {
    			evaluate_id : $this.evaluate_details.evaluate_id,
    			comment: $this.comment
    		}
    		
    		Axios.post(window.Url.Cheats_evaluate_reply,data).then((res) => {
    			
    			$this.remind = res.info
    			console.log($this.remind);
    			if(res.result == 1){
//  				$this.CheatsCateDetails = res.info.cheats;
					
    			}
    			else{
    				console.log('发布评论:'+res.info);
    			}
    			
	        }).catch((err) => {
	          console.log('发布评论:'+err);
	        })
    	},
    	//点击确认之后刷新页面
    	yes:function(){
    		location.reload();
    	},
    }
})


$('.banner').height($(window).width()*400/750);

var mySwiper_banner = new Swiper ('.swiper-container-banner', {
    loop: true,
    pagination: '.swiper-pagination-banner',
	autoplay : 5000,
	autoplayDisableOnInteraction : false,
})
$('.header_map_longevity').click(function(){
    history.go(-1);
});
$('.longevity1 li').click(function(){
    window.location.href = "InformationDetails.html";
});
$('.ind_share_btn').click(function(){
    window.location.href = "Pinglun.html";
});
// $('.ind_share_btn1').click(function(){
//     $('.pinglun_show').css('display','block');
// });
$('.pinglun1_show_con_f1 a').click(function(){
    $('.pinglun1_show').css('display','none');
})
$('.pinglun-show a').click(function(){
    $('.pinglun-show').css('display','none');
    $('.pinglun1_show').css('display','block');
});
$('.header_shop_longevity').click(function(){
    $('.pinglun-show').css('display','block');
})
$('.InformationDetails7_f2').click(function(){
    window.location.href = "pinLun_detail.html";
})

  
})  
</script>
</html>
